{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Edit Profile - EaseParkHK{% endblock %}
{% block app_content %}
    <div class="auth-page">
        <p class="page-kicker">Profile</p>
        <h1>{{ _('Edit Profile') }}</h1>
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}
