<ul class="nav navbar-nav">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Districts <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/hong_kong_island">Hong Kong Island<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/carparkinfo/Central%20&amp;%20Western">Central and Western District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Wan%20Chai">Wan Chai District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Eastern">Eastern District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Southern">Southern District</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/kowloon">Kowloon<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/carparkinfo/Yau%20Tsim%20Mong">Yau Tsim Mong District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Sham%20Shui%20Po">Sham Shui Po District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Kowloon%20City">Kowloon City District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Wong%20Tai%20Sin">Wong Tai Sin District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Kwun%20Tong">Kwun Tong District</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/new_territories">New Territories<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/carparkinfo/Kwai%20Tsing">Kwai Tsing District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Tsuen%20Wan">Tsuen Wan District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Yuen Long">Yuen Long District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Tuen Mun">Tuen Mun District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/North">North District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Tai Po">Tai Po District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Sha Tin">Sha Tin District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Sai Kung">Sai Kung District</a></li>
          <li><a tabindex="-1" href="/carparkinfo/Islands">Islands District</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Metered Parking <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="/metered_parking_spaces_hong_kong_island">Hong Kong Island</a></li>
      <li><a tabindex="-1" href="/metered_parking_spaces_kowloon">Kowloon</a></li>
      <li><a tabindex="-1" href="/metered_parking_spaces_new_territories">New Territories</a></li>
    </ul>
  </li>
  <li><a tabindex="-1" href="/camera">Cameras</a></li>
  <li><a tabindex="-1" href="/news">Notices</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li class="language-box">
    {% if request.path.startswith('/zh/') %}
      <a href="{{ request.path[3:] }}">English</a>
    {% elif request.path == '/zh' %}
      <a href="/">EN</a>
    {% else %}
      <a href="{{ '/zh' + request.path if request.path != '/' else '/zh' }}">繁</a>
    {% endif %}
  </li>
  {% if current_user.is_anonymous %}
    <li><a href="{{ url_for('login') }}">Login</a></li>
    <li><a href="/settings">Settings</a></li>
  {% else %}
    <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
  {% endif %}
  <li class="theme-toggle-wrapper">
    <button type="button" id="theme-toggle" class="btn theme-toggle-btn" aria-label="Toggle theme">
      <span class="glyphicon glyphicon-adjust night-mode-icon" aria-hidden="true"></span>
      <span class="theme-toggle-label">Theme</span>
    </button>
  </li>
</ul>
