<ul class="nav navbar-nav">
  <li><a tabindex="-1" href="/map">One map</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Districts <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/map?region=hk&meters=1&cameras=1">Hong Kong Island<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/map?district=Central%20%26%20Western&meters=1&cameras=1">Central and Western</a></li>
          <li><a tabindex="-1" href="/map?district=Wan%20Chai&meters=1&cameras=1">Wan Chai</a></li>
          <li><a tabindex="-1" href="/map?district=Eastern&meters=1&cameras=1">Eastern</a></li>
          <li><a tabindex="-1" href="/map?district=Southern&meters=1&cameras=1">Southern</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/map?region=kln&meters=1&cameras=1">Kowloon<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/map?district=Yau%20Tsim%20Mong&meters=1&cameras=1">Yau Tsim Mong</a></li>
          <li><a tabindex="-1" href="/map?district=Sham%20Shui%20Po&meters=1&cameras=1">Sham Shui Po</a></li>
          <li><a tabindex="-1" href="/map?district=Kowloon%20City&meters=1&cameras=1">Kowloon City</a></li>
          <li><a tabindex="-1" href="/map?district=Wong%20Tai%20Sin&meters=1&cameras=1">Wong Tai Sin</a></li>
          <li><a tabindex="-1" href="/map?district=Kwun%20Tong&meters=1&cameras=1">Kwun Tong</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/map?region=nt&meters=1&cameras=1">New Territories<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/map?district=Kwai%20Tsing&meters=1&cameras=1">Kwai Tsing</a></li>
          <li><a tabindex="-1" href="/map?district=Tsuen%20Wan&meters=1&cameras=1">Tsuen Wan</a></li>
          <li><a tabindex="-1" href="/map?district=Yuen%20Long&meters=1&cameras=1">Yuen Long</a></li>
          <li><a tabindex="-1" href="/map?district=Tuen%20Mun&meters=1&cameras=1">Tuen Mun</a></li>
          <li><a tabindex="-1" href="/map?district=North&meters=1&cameras=1">North</a></li>
          <li><a tabindex="-1" href="/map?district=Tai%20Po&meters=1&cameras=1">Tai Po</a></li>
          <li><a tabindex="-1" href="/map?district=Sha%20Tin&meters=1&cameras=1">Sha Tin</a></li>
          <li><a tabindex="-1" href="/map?district=Sai%20Kung&meters=1&cameras=1">Sai Kung</a></li>
          <li><a tabindex="-1" href="/map?district=Islands&meters=1&cameras=1">Islands</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li class="language-box">
    {% if request.path.startswith('/zh/') %}
      <a href="{{ request.path[3:] }}">English</a>
    {% elif request.path == '/zh' %}
      <a href="/">EN</a>
    {% else %}
      <a href="{{ '/zh' + request.path if request.path != '/' else '/zh' }}">繁</a>
    {% endif %}
  </li>
  <li class="theme-toggle-wrapper">
    <button type="button" id="theme-toggle" class="btn theme-toggle-btn" aria-label="Toggle theme">
      <span class="glyphicon glyphicon-adjust night-mode-icon" aria-hidden="true"></span>
      <span class="theme-toggle-label">Theme</span>
    </button>
  </li>
</ul>
