{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Sign In - EaseParkHK{% endblock %}
{% block app_content %}
    <div class="auth-page">
        <p class="page-kicker">Account</p>
        <h1>{{ _('Sign In') }}</h1>
        {{ wtf.quick_form(form) }}
        <div class="auth-links">
            <p>{{ _('New User?') }} <a href="{{ url_for('register') }}">{{ _('Click to Register!') }}</a></p>
            <p>{{ _('Forgot Your Password?') }} <a href="{{ url_for('reset_password_request') }}">{{ _('Click to Reset It') }}</a></p>
            <p>By continuing, you agree to the <a href="/privacy_policy">{{ _('Privacy Policy') }}</a>.</p>
        </div>
    </div>
{% endblock %}
