{% extends "base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Register - EaseParkHK{% endblock %}
{% block app_content %}
    <div class="auth-page">
        <p class="page-kicker">Account</p>
        <h1>{{ _('Register') }}</h1>
        {{ wtf.quick_form(form) }}
        <div class="auth-links">
            <p>Already have an account? <a href="{{ url_for('login') }}">Sign in</a></p>
        </div>
    </div>
{% endblock %}
