{% extends "zh.base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}編輯個人資料 - 泊易香港{% endblock %}
{% block app_content %}
    <div class="auth-page">
        <p class="page-kicker">個人資料</p>
        <h1>{{ _('編輯個人資料') }}</h1>
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}
