<ul class="nav navbar-nav">
  <li><a tabindex="-1" href="/zh/map">一站式地圖</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">地區 <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/zh/map?region=hk&meters=1&cameras=1">香港島<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/zh/map?district=Central%20%26%20Western&meters=1&cameras=1">中西區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Wan%20Chai&meters=1&cameras=1">灣仔區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Eastern&meters=1&cameras=1">東區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Southern&meters=1&cameras=1">南區</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/zh/map?region=kln&meters=1&cameras=1">九龍<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/zh/map?district=Yau%20Tsim%20Mong&meters=1&cameras=1">油尖旺區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Sham%20Shui%20Po&meters=1&cameras=1">深水埗區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Kowloon%20City&meters=1&cameras=1">九龍城區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Wong%20Tai%20Sin&meters=1&cameras=1">黃大仙區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Kwun%20Tong&meters=1&cameras=1">觀塘區</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="/zh/map?region=nt&meters=1&cameras=1">新界<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="/zh/map?district=Kwai%20Tsing&meters=1&cameras=1">葵青區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Tsuen%20Wan&meters=1&cameras=1">荃灣區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Yuen%20Long&meters=1&cameras=1">元朗區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Tuen%20Mun&meters=1&cameras=1">屯門區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=North&meters=1&cameras=1">北區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Tai%20Po&meters=1&cameras=1">大埔區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Sha%20Tin&meters=1&cameras=1">沙田區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Sai%20Kung&meters=1&cameras=1">西貢區</a></li>
          <li><a tabindex="-1" href="/zh/map?district=Islands&meters=1&cameras=1">離島區</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li class="language-box">
    {% if request.path.startswith('/zh/') %}
      <a href="{{ request.path[3:] }}">English</a>
    {% elif request.path == '/zh' %}
      <a href="/">EN</a>
    {% else %}
      <a href="{{ '/zh' + request.path if request.path != '/' else '/zh' }}">繁</a>
    {% endif %}
  </li>
  <li class="theme-toggle-wrapper">
    <button type="button" id="theme-toggle" class="btn theme-toggle-btn" aria-label="切換主題">
      <span class="glyphicon glyphicon-adjust night-mode-icon" aria-hidden="true"></span>
      <span class="theme-toggle-label">主題</span>
    </button>
  </li>
</ul>
