{% extends "zh.base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}註冊 - 泊易香港{% endblock %}
{% block app_content %}
    <div class="auth-page">
        <p class="page-kicker">帳戶</p>
        <h1>{{ _('註冊') }}</h1>
        {{ wtf.quick_form(form) }}
        <div class="auth-links">
            <p>已有帳戶？<a href="/zh/login">登入</a></p>
        </div>
    </div>
{% endblock %}
