{% extends "zh.base.html.j2" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}重設密碼 - 泊易香港{% endblock %}
{% block app_content %}
    <div class="auth-page">
        <p class="page-kicker">帳戶</p>
        <h1>{{ _('重設密碼') }}</h1>
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}
