<div class="custom-search-bar">
    <form class="form-inline" action="{{ url_for('zh_search') }}" style="width: 100%; display: flex;">
        <input type="text" id="searchInput" name="w" value="{{ search_query | default('') }}" placeholder="搜尋停車場" aria-label="搜尋" autocomplete="off">
        <button class="btn search-btn" type="submit">搜尋</button>
    </form>
</div>
